html, body {
	margin: 0;
	padding: 0;
}

#main {
	background-color: #484848;
}

#top {
	background-color: #686868;
}

#content {
	background-color: #CCCCCC;
	float: left;
	overflow: hidden;
}

#lblock {
	background-color: #339900;
	float: left;
	overflow: hidden;
	width: 200px;
}

#rblock {
	background-color: #993300;
	float: right;
	overflow: hidden;
	width: 150px;
}


.position-form p {
	display: inline;	
}