{% extends 'presentation/index.html' %}

{% block title %}
	Dostępne prezentacje
{% endblock %}

{% block content %}
	
	{% if not success %}
		{%if edit %}
			<h2>Edytuj prezentację</h2>
		{% else %}
			<h2>Dodaj nową prezentację</h2>
		{% endif %}
	{% endif %}
	
	{% if success %}
		{%if edit %}
			<h2>Zmiany zostały poprawnie zapisane</h2>		
		{% else %}
		<h2>Dodano prezentację:</h2>
		{% endif %}
	{% else %}
	
	<form action="." method="POST">
		{{ presentation_form.as_p }}
		<input type="submit" value="Wyślij">
		<input type="reset" value="Wyczyść">
	</form>
	{% endif %}

{% endblock %}
