{% extends 'presentation/index.html' %}
{% block js %}{{ slide_form.media }} {% endblock %}
{% block title %}
	Dodaj slajd
{% endblock %}

{% block content %}
	
	{% if edit %}
		<h2>Edytuj slajd</h2>
	{% else %}
		<h2>Dodaj slajd</h2>
	{% endif %}
	
	
	{% if success %}
		{% if edit %}
			<h2>Poprawnie wyedytowano</h2>
		{% else %}
			<h2>Poprawnie dodano</h2>
		{% endif %}
			Powrót do <a href="/{{ presentation.get_details_url }}">Widoku prezentacji</a>
			<a href="{{ presentation.get_add_slide_url }}">Dodaj kolejny slajd</a>
	{% else %}
	<form action="." method="POST">
		<span class="position-form">{{ position_form.as_p }}</span>
		{{ slide_form.as_p }}
	
		<input type="submit" value="Wyślij">
		<input type="reset" value="Wyczyść">
		<input type="hidden" name="presentation" id="presentation" value="{{ presentation_id }}" />
	</form>
	{% endif %}
	
{% endblock %}

