{% extends 'presentation/index.html' %}

{% block title %}
	Usuń slajd
{% endblock %}

{% block content %}

	{% if not confirmation %}
		Czy na pewno chcesz usunąć ten slajd?
		<form  action="." method="POST">
			<input type="submit" value="Tak" name="confirm"/>
		</form>
			<input type="submit" value="Nie" name="confirm" onClick="location.href='/{{ presentation.get_details_url }}';" />
	{% else %}
	
		Slajd został usunięty.
		Powrót do <a href="/{{ presentation.get_details_url }}">Widoku prezentacji</a>
	
	{% endif %}

{% endblock %}