{% extends 'presentation/index.html' %}

{% block title %}
	Usuń prezentację
{% endblock %}

{% block content %}

	{% if not confirmation %}
		Czy na pewno chcesz usunąć tę prezentacje i wszyskie slajdy?
		<form  action="." method="POST">
			<input type="submit" value="Tak" name="confirm"/>
		</form>
			<input type="submit" value="Nie" name="confirm" onClick="location.href='{{ presentation.get_details_url }}';" />
	{% else %}
	
		Prezentacja została usunięta.
		Powrót do <a href="{% url presentation_presentations %}">listy prezentacji</a>
	
	{% endif %}

{% endblock %}