{% extends "base_template.html" %}

{% block css %}<link rel="stylesheet" href="/staticfiles/css/main.css"> {% endblock %}

{% block title %}
	Strona Główna
{% endblock %}

{% block body %}

	<div id="main" name="main">
		<div id="top">
			<div id="menu">
				<div class="leftsmallbox">
					<span>
						<a href="{% url presentation_index %}">Strona główna</a>
					</span>
				</div>
				
				<div class="centersmallbox">
					<div class="smallbox">
						<span>
							<a href="{% url presentation_presentations %}">Dostępne Prezentacje</a>
						</span>
					</div>
					<div class="smallbox">					
						<span>
							<a href="{% url presentation_add_presentation %}">Dodaj prezentację</a>
						</span>
					</div>
				</div>
				<div></div>
				
			</div>
		</div>
		
		<div id="rblock" name="rblock">
			{% block lblock %}	
				{% load current_presentations %}
				{% current_presentations %}
			{% endblock %}
		</div>
		
		<div id="content" name="content">
			{% block content %}
				
			{% endblock %}
		</div>
		
		{% comment %}
			<div id="rblock" name="rblock">
				{% block rblock %}
				{% endblock %}
			</div>
		{% endcomment %}
		
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	</div>

{% endblock %}