{% extends 'presentation/index.html' %}

{% block title %}
	{{ presentation.title }}
{% endblock %}

{% block content %}
	<div class="presentation-data">
		<div class="presentation-title"><strong> {{ presentation.title }}</strong></div>
		<div>{{ presentation.description }} </div>
	</div>
	<div class="presentation-navi">
			<div><big><a href="{{presentation.get_add_slide_url}}">Dodaj slajd</a></big></div>
			<div><a href="{{presentation.get_edit_url}}">Edytuj informacje o prezentacji</a></div>
			<div><a href="{{presentation.get_delete_url}}">Usuń prezentację</a></div>
			<div><a href="{{presentation.get_preview_url}}">Podgląd prezentacji</a></div>
			<div><a href="{{presentation.get_download_url}}">Pobierz prezentację</a></div>
	</div>
	
	<div class="slide-list-header">
		<span>Dostępne slajdy:</span>
	</div>
	<div class="slide-list">
		<ul>
			{% for slide in slides %}
				<div class="slide-box">
					<li>
						{{ slide.order_number }}: <strong>{{ slide.description }}</strong> <br />
						<span><a href="{{slide.get_move_up_url}}">wyżej</a></span> <span><a href="{{slide.get_move_down_url}}">niżej</a></span> <br /> 
						<span><a href="{{slide.get_delete_url}}">USUŃ</a></span>
						<span><a href="{{slide.get_edit_url}}">EDYTUJ</a></span>
						{% comment %}<span><a href="#" onClick="Presentations.copySlideContent(); return false;">PODGLĄD</a></span> {% endcomment %}
					</li>
				</div>
			{% endfor %}
		</ul>
	</div>	
	

{% endblock %}