{% extends 'presentation/index.html' %}

{% block title %}
	{{ presentation.title }}
{% endblock %}

{% block content %}
	<span id="presentationNavi">
		<ul>
			<li><a href="{{presentation.get_edit_url}}">Edytuj informacje o prezentacji</a></li>
			<li><a href="{{presentation.get_delete_url}}">Usuń prezentację</a></li>
			<li><a href="{{presentation.get_preview_url}}">Podgląd prezentacji</a></li>
			<li><a href="{{presentation.get_download_url}}">Pobierz prezentację</a></li>
		</ul>
	</span>
	<span>Tytuł: <strong> {{ presentation.title }}</strong></span><br />
	<span>Opis: {{ presentation.description }} </span> <br />
	
	<span><big><a href="{{presentation.get_add_slide_url}}">Dodaj slajd:</a></big></span>
	<span>Dostępne sladjy:</span>
	<ul>
		{% for slide in slides %}
			<li><a href="{{slide.get_move_up_url}}">wyżej</a> / <a href="{{slide.get_move_down_url}}">niżej</a> {{ slide.order_number }}: <strong>{{ slide.description }}</strong>  <br />
				<ul>
					<li><a href="{{slide.get_delete_url}}">USUŃ</a></li>
					<li><a href="{{slide.get_edit_url}}">EDYTUJ</a></li>
					<li><a href="#" onClick="window.open('{{slide.get_preview_url}}')">PODGLąD</a></li>
				</ul>   
			</li>
		{% endfor %}
	</ul>	
	

{% endblock %}